# Environment
ENV=dev

# Base URLs
DEV_BASE_URL=https://automationexercise.com/
DEV_API_URL=https://automationexercise.com/api
BASE_URL=https://automationexercise.com/

QA_BASE_URL=https://qa.example.com
QA_API_URL=https://qa-api.example.com

STAGING_BASE_URL=https://staging.example.com
STAGING_API_URL=https://staging-api.example.com

PROD_BASE_URL=https://example.com
PROD_API_URL=https://api.example.com

# Credentials - DEV
DEV_USERNAME=testuser
DEV_PASSWORD=testpass
DEV_EMAIL=test@example.com

# Credentials - QA
QA_USERNAME=qauser
QA_PASSWORD=qapass
QA_EMAIL=qa@example.com

# Credentials - STAGING
STAGING_USERNAME=staginguser
STAGING_PASSWORD=stagingpass
STAGING_EMAIL=staging@example.com

# Credentials - PROD
PROD_USERNAME=produser
PROD_PASSWORD=prodpass
PROD_EMAIL=prod@example.com


# CI/CD
CI=false
